body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.panel-1 {
    background-color: #1A2C56;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100vh;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 300;
}

.title-header {
    font-size: 80px;
}

.container {
    width: 80%;
    min-height: 20vh;
    margin-left: 10%;
    text-align: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.title-container {
    height: 70vh;
}

.container h1,
h3 {
    width: 100%;
}

.logo-container {
    max-height: 125px;
}

.logo {
    width: 125px;
    height: 125px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
}

.btn-container:hover button {
    color: #1A2C56;
    background-color: #fff;
    transition: ease-in-out .5s;
}

.login-btn {
    background: none;
    color: white;
    border: 3px white solid;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    width: 150px;
    height: 40px;
    font-size: 24px;
}

.more {
    display: flex;
    justify-content: center;
}

svg {
    animation: float ease-in-out forwards;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-direction: alternate-reverse;
}

.ourgoal {
    font-size: 48px;
}

.cards {
    display: flex !important;
    justify-content: space-around !important;
    align-items: flex-start;
    text-align: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 80px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@keyframes float {
    from {
        transform: translateY(-30px);
        opacity: .7;
    }
    to {
        transform: translateY(-5px);
        opacity: .9;
    }
}
